name: Update Mode S Database

on:
  repository_dispatch:
    types:
      - trigger-modes-data-update

jobs:
  run:
    runs-on: ubuntu-latest

    environment: Infomaniak

    env:
      DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}

    steps:
    - name: Show event metadata
      run: |
        echo "Triggered by: ${{ github.event.sender.login }}"
        echo "Event type: ${{ github.event.action }}"

    - name: Show payload
      run: |
        echo "Payload:"
        echo '${{ toJson(github.event.client_payload) }}'
        
    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H "${{ secrets.SERVER_HOST }}" >> ~/.ssh/known_hosts

    - name: Create folder structure
      run: |
        ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << EOF
          cd ${DEPLOY_PATH:-TEST}
          mkdir -p data/geojson data/topsky
        EOF

    - name: Run PHP service scripts
      run: |
        ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << EOF
          cd ${DEPLOY_PATH:-TEST}
          /usr/bin/php geojson.php
          /usr/bin/php topsky.php
        EOF

        
